.workoutPage__wrapper {
  display: flex;
  flex-direction: column;
  .workoutPage__container {
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
