.homePage__wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .homePage__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-bottom: 80px;
    height: 100%;
    width: 100%;

    .homePage__userStats {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;

      .homePage__userStats--text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .homePage__userStats--text-left {
          display: flex;
          flex-direction: column;
        }

        .homePage__userStats--text-right {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1.25px solid $brand-main;
          height: 40px;
          width: 40px;
          border-radius: 50%;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            .react-icon {
              height: 75%;
              width: 75%;
            }
          }

          p {
            color: $brand-main;
          }
        }

        p {
          color: $brand-main;
        }
      }

      .homePage__userStats--displays {
        display: flex;
        height: 155px;
        width: 100%;
        gap: 16px;

        .homePage__userStats--display-left {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: $brand-main-nearly-black;
          // border: 1.25px solid $brand-link-disabled;
          border-radius: 15px;
          text-align: center;
          padding: 20px;
          height: 100%;
          width: 100%;

          h2 {
            font-size: 84px;
            line-height: 80px;
          }

          p {
            color: $brand-main;
          }
        }

        .homePage__userStats--display-right {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          gap: 16px;

          .homePage__userStats--display-right-child {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background: $brand-main;
            border-radius: 15px;
            padding: 10px;
            height: 70px;
            width: 100%;

            h2 {
              font-size: 36px;
              line-height: 32px;
              color: $brand-main-nearly-black;
            }

            p {
              color: $brand-button-hover;
            }
          }
        }
      }
    }

    .homePage__yourWorkouts {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;

      h1 {
        line-height: 24px;
      }

      .homePage__yourWorkouts--container {
        display: flex;
        flex-direction: column;
        background-image: url("../../assets/workouts/barbell-male.jpg");
        background-position: top;
        background-size: 100% auto;
        border-radius: 15px;
        padding: 20px;
        height: 155px;
        gap: 4px;

        h2 {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }

    .homePage__trendingWorkouts {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;

      h1 {
        line-height: 24px;
      }

      .homePage__trendingWorkouts--container {
        display: flex;
        flex-direction: column;
        background-image: url("../../assets/workouts/pushup-female.jpg");
        background-position: left;
        background-size: 100% auto;
        border-radius: 15px;
        padding: 20px;
        height: 155px;
        gap: 4px;

        h2 {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
}
