// colour scheme
$brand-main: #ffa600;
$brand-main-soft: #ffd200;
$brand-main-bright: #ffc928;
$brand-main-light: #ffb347;
$brand-main-active: #e6a000;
$brand-main-dark: #cc8f00;
$brand-main-nearly-black: #171717;
$brand-main-white: #ffffff;
$brand-link: #ff8c00;
$brand-link-disabled: #767676;

// font family + sizing
$branding-font: fit, sans-serif;
$base-font-size: 16px;
$base-font-size-mobile: 14px;
$main-font-family-titles: citrus-gothic, sans-serif;
$main-font-family-subtext: Corbel, sans-serif;

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  body {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $brand-main-nearly-black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $brand-main-white;
      font-family: $main-font-family-titles;
    }

    label,
    li,
    p,
    a {
      color: $brand-main-white;
      font-family: $main-font-family-subtext;
      font-size: $base-font-size-mobile;
      letter-spacing: 1px;
    }

    img {
      max-width: 100%;
    }
  }
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
